.title {
    margin: 40px
}
.calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.calendarCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 320px;
    height: 340px;
}

.divImage {
    height: 60%;
    overflow: hidden; /*evite que l'image deborde au hover */
}

.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.divText {
    margin: 10px;
   height: 40%;
}

.hours {
    color: red;
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    position: absolute;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
}

.textEvent {
    color: red;
    font-weight: bold;
}

/*hover au passage de la souris */
.calendarCard:hover {
    cursor: pointer;
}

.calendarCard:hover .divImage {
    height: 55%;
    transition: height 0.3s ease;
}

.calendarCard:hover .divText {
    height: 45%;
    transition: height 0.3s ease;
}

.calendarCard:hover .image {
    transform: scale(1.10);
}
