.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  background-color: black;
  width: 100%; /* pour centrer la div link au milieu*/
}

.logo {
  width: 20%;
}

.logoImg {
  cursor: pointer;
  width: 250px;
}

.welcomeMenu {
  display: flex;
  gap: 10px;
  align-items: center;
}

/*__________________________________________gestion pour les liens dans le header */
.link {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  width: 60%;
  color: white;
  align-items: center;
}

.linkText {
  position: relative;
  text-decoration:  none;
  cursor: pointer;
  display: inline-block;
  color: white;
  cursor: pointer;
  transition: font-weight 0.3s ease;
}

.linkText::after {
  content: ""; /* créer un element vide pour appliquer du style, sinon after ne peut fonctionner */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: red;
  width: 0%;
  transition: width 0.2s ease;
}

.linkText:hover::after {
  width: 100%;
}
/*_________________________________________________fin de la gestion des liens pour le header */

.icon {
  display: flex;
  justify-content: end;
  gap: 20px ;
  width: 20%;
  align-items: center;
  color: red;
}

.iconUser:hover {
  cursor: pointer;
}

.iconBars {
  display: none;
}

/* affichage pour version mobile */
@media (max-width: 500px) {
  .link {
    display: none;
  }
  .linkPopover {
    display: flex;
    flex-direction: column;
  }
  .linkText {
    color: red;
  }
  .iconBars {
    display: flex;
  }
}
